<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Pendu</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <h1>Game Over</h1>
    <p>{{.Mot}}</p>
    <form method="POST" action="/gameover">
        <button type="submit">Rejouer</button>
    </form>
</body>
</html>