<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Pendu</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <h1>Bravo vous avez gagné !</h1>
    <p>Voulez-vous rejouer ?</p>
    <form method="POST" action="/win">
        <button type="submit">Rejouer</button>
    </form>
</body>
</html>